.container {
    width: max-content;
    margin: 20px auto;
  }
  
  .header-list {
    padding-left: 0;
    display: flex;
    
  }
  
  .header-list-item {
    margin: auto;
    list-style-type: none;
    margin-right: 45px;
  }
  
  .line {
    width: 1px;
    height: 50px;
    background: #E1E1E1;
  /*   outline: 1px solid black; */
  }